/* body {
    background-color: #f09813;
    color: #613a3c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.global-header {
    background-color:burlywood;
    color: #022c02;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    padding: 15px 25px;
    width: calc(100% - 50px);
}

#top-nav {
    position: relative;
}

.nav-left {
    align-items: center;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: none;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

ul {
    list-style: none;
}

.nav-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 45px;
}

.restaurant {
    color:#613a3c;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.extras

.menu-main {
    display: flex;
    justify-content: space-around;
}

#toppings {
    display: flex;
    padding: 5px;
    border: solid;
}
 */

body {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(245, 228, 180);
    background-color: midnightblue;
    font-size: larger;
    justify-content: flex-start;
}

.navbar-brand {
    text-decoration: midnightblue underline;
}

.navbar-brand img {
    width: 50px;
    height: auto;
}

.card-img-top {
    width: 33%;
    height: auto;
    position: relative;
}

.col-md-4 {
    color:saddlebrown;
}

.col img {
    width: 500px;
    height: 400px;
    /* justify-content: center;
    align-content: center; */
}

